*{
    margin: 0;
    padding: 0;
}

.btn-main{
    color: brown;
    background-color: blueviolet;
    border: 1px solid blueviolet;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
}
.btn-main:hover{
    background-color: white;
    border: 1px solid maroon;
}

a{
    text-decoration: none;
}

section{
    /* background-color: yellow; */
    width: 100%;
    height: 100vh;
    padding: 80px 0;
}

.container{
 /* background-color: red; */
}

.left{
    text-align: left;
}

.left h1{
    color: blueviolet;
    font-size: 50px;
    font-weight: 700;
    position: relative;
    /* animation: animate 3s alternate infinite; */

}

.left p{
    margin: 30px 0;
    color: brown;
    font-size: 30px;
    line-height: 40px;
    width: 89%;
    font-weight: 500;
}

.left a{
    margin: 0 auto;
}

.right{

}

.right img{
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
    position: relative;
    animation: animate 2s alternate infinite;
}

@keyframes  animate {
    from{
        bottom: 0;

    }
    to{
        bottom: 60px;
    }
}

.form input{
    width: 100%;
    margin: 5px 0;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid gray;
}

.form textarea {
    margin-top: 10px;
    margin-top: 6px;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid gray;
}

.form ::placeholder{
    color: gray;
    text-transform: uppercase;
    font-weight: 700;
}

.form .textarea ::placeholder{
    color: red;
}

.form-check-input[type=checkbox] {
    width: 14px;
    border-radius: .25em;
    margin-right: 10px;
    padding: 0 7px;
    border: 1px solid gray;

    
}

.right .f-btn:hover{
    color: white;
}